
config.py

training.db

backups/

__pycache__/

*.pyc

.cache/

.local/

.virtualenvs/

.ipython/

.bashrc

.bashrc_extensions

.gitconfig

.profile

.pythonstartup.py

.vimrc

README.txt

static.zip

*.zip

.git-credentials
